header{
    padding:20px;
    background-color:aquamarine;
}
header h1{
    font-family: sans-serif;
}
.container{
    padding:25px;
    font-family: sans-serif;
}

footer{
    background-color: cornflowerblue;
    padding:50px;
}